<?php

/**
 * This is the config file for Zf2RateLimit. Just drop this file into your config/autoload folder (don't
 * forget to remove the .dist extension from the file), and configure it as you want
 */

return [
    'rate_limit' => [
        /**
         * Set the list of routes that should be subject to rate limiting. Example: api*.
         */
        'routes' => [],

        /**
         * This should be an array compatible with Zend Cache.
         */
        'storage' => [],

        /**
         * Maximum number of requests per time period (configured below)
         */
        'limit' => 5,

        /**
         * Set the rate limit period duration (in seconds).
         */
        'period' => 30,
    ]
];
